@model List<BookCave.Models.ViewModels.BookListViewModel>

<div>
    @foreach(var book in @Model)
    {
        <p>@book.Title</p>
        <p>@book.Genre</p>
        <p>@book.Author</p>
        <p>@book.ReleseYear</p>
    }
</div>